
! Use a nice truetype font and size by default... 
!xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 11
xterm*faceName: Hack
! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 10000

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
!xterm*foreground: rgb:a8/a8/a8
!xterm*background: rgb:00/00/00
!xterm*color0: rgb:00/00/00
!xterm*color1: rgb:a8/00/00
!xterm*color2: rgb:00/a8/00
!xterm*color3: rgb:a8/54/00
!xterm*color4: rgb:00/00/a8
!xterm*color5: rgb:a8/00/a8
!xterm*color6: rgb:00/a8/a8
!xterm*color7: rgb:a8/a8/a8
!xterm*color8: rgb:54/54/54
!xterm*color9: rgb:fc/54/54
!xterm*color10: rgb:54/fc/54
!xterm*color11: rgb:fc/fc/54
!xterm*color12: rgb:54/54/fc
!xterm*color13: rgb:fc/54/fc
!xterm*color14: rgb:54/fc/fc
!xterm*color15: rgb:fc/fc/fc

#include ".gruvbox-terminal-theme"

xterm*ScrollBar: false

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       1
URxvt.lineSpace:            0

! transparency - true or false (default)
!URxvt*transparent: true

! shading - 0 to 99 darkens, 101 to 200 lightens.
! Dont use with tintColor; just use a darker or lighter color instead.
URxvt*shading: 15

URxvt*saveLines: 12000

!URxvt*foreground: #928374
!URxvt*background: #1d2021


!URxvt*font: xft:DejavuSansMono:size=11,xft:FontAwesome:size=10:hinting=true,xft:Powerline:size=11
!URxvt*boldFont: xft:DejavuSansMono:bold:size=11,xft:FontAwesome:size=10:hinting=true,xft:Powerline:size=11
URxvt*font: xft:DejaVuSansMono Nerd Font Mono:style=Book:size=11
URxvt*boldFont: xft:DejaVuSansMono Nerd Font Mono:style=Book:bold:size=11
URxvt*letterSpace: 0




! scrollbar - true (default) or false
URxvt*scrollBar: false

! scrollbar position - left=false (default) or right=true
URxvt*scrollBar_right: false

! scrollbar style - rxvt (default), plain, next, or xterm
URxvt*scrollstyle: plain



!{{{ XMESSAGE
!Xmessage*font:                  xft:DejavuSansMono:size=11
Xmessage*background:            #282828
Xmessage*foreground:            #ebdbb2
Xmessage*form.*.shapeStyle:     rectangle
Xmessage*Scrollbar.width:       1
Xmessage*Scrollbar.borderWidth: 0
!Xmessage.form.message.Scroll:  WhenNeeded
Xmessage*Buttons:               Quit
Xmessage*defaultButton:         Quit
!Xmessage*geometry:             +20+20
!}}}
